In [1]:
import pandas as pd
import sqlalchemy
import numpy as np
import datetime
import re
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
# from six.moves.urllib.request import urlopen
# import urllib
url ="https://docs.google.com/spreadsheets/d/1wzbUySCMjjRdDqBNsoE0byhYplVk8rLbK3Vq0nU0dFQ/export?format=csv&id"
data = pd.read_csv(url, error_bad_lines=False)
data

C:\Users\joi.pratt\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,report_date,location,location_type,data_field,data_field_code,time_period,time_period_type,value,unit
0,2016-03-19,Argentina-Buenos_Aires,province,cumulative_confirmed_local_cases,AR0001,NaN,NaN,0,cases
1,2016-03-19,Argentina-Buenos_Aires,province,cumulative_probable_local_cases,AR0002,NaN,NaN,0,cases
2,2016-03-19,Argentina-Buenos_Aires,province,cumulative_confirmed_imported_cases,AR0003,NaN,NaN,2,cases
3,2016-03-19,Argentina-Buenos_Aires,province,cumulative_probable_imported_cases,AR0004,NaN,NaN,1,cases
4,2016-03-19,Argentina-Buenos_Aires,province,cumulative_cases_under_study,AR0005,NaN,NaN,127,cases
...,...,...,...,...,...,...,...,...,...
107614,2016-06-28,United_States_Virgin_Islands,territory,confirmed_conjunctivitis,VI0017,NaN,NaN,7,cases
107615,2016-06-28,United_States_Virgin_Islands,territory,confirmed_eyepain,VI0018,NaN,NaN,13,cases
107616,2016-06-28,United_States_Virgin_Islands,territory,confirmed_headache,VI0019,NaN,NaN,14,cases
107617,2016-06-28,United_States_Virgin_Islands,territory,confirmed_malaise,VI0020,NaN,NaN,5,cases
107618,2016-06-28,United_States_Virgin_Islands,territory,zika_no_specimen,VI0021,NaN,NaN,2,cases

In [2]:
data_field_filtered= data[data['data_field'].str.contains("confirmed",na=False)]
# data_field_filtered = data[data["data_field"].isin(["cumulative_confirmed_imported_cases","cumulative_confirmed_local_cases"])]
data_field_filtered


# location_filtered
# df = df.loc[~df['Type'].isin(['UnweightedBase', 'Base'])]

,report_date,location,location_type,data_field,data_field_code,time_period,time_period_type,value,unit
0,2016-03-19,Argentina-Buenos_Aires,province,cumulative_confirmed_local_cases,AR0001,NaN,NaN,0,cases
2,2016-03-19,Argentina-Buenos_Aires,province,cumulative_confirmed_imported_cases,AR0003,NaN,NaN,2,cases
6,2016-03-19,Argentina-CABA,province,cumulative_confirmed_local_cases,AR0001,NaN,NaN,0,cases
8,2016-03-19,Argentina-CABA,province,cumulative_confirmed_imported_cases,AR0003,NaN,NaN,9,cases
12,2016-03-19,Argentina-Catamarca,province,cumulative_confirmed_local_cases,AR0001,NaN,NaN,0,cases
...,...,...,...,...,...,...,...,...,...
107613,2016-06-28,United_States_Virgin_Islands,territory,confirmed_rash,VI0016,NaN,NaN,18,cases
107614,2016-06-28,United_States_Virgin_Islands,territory,confirmed_conjunctivitis,VI0017,NaN,NaN,7,cases
107615,2016-06-28,United_States_Virgin_Islands,territory,confirmed_eyepain,VI0018,NaN,NaN,13,cases
107616,2016-06-28,United_States_Virgin_Islands,territory,confirmed_headache,VI0019,NaN,NaN,14,cases
107617,2016-06-28,United_States_Virgin_Islands,territory,confirmed_malaise,VI0020,NaN,NaN,5,cases

In [3]:
# location_group

data_field_filtered["country"]=data["location"]
data_field_filtered["country"]= data["location"].str.split("-", n= 1, expand=True)
                                            
#                                             
# 
data_field_filtered.info()

# data = data.groupby('domain')['ID'].nunique()

# location_filtered = data[data["location_type"]!=["territory","county"]]
# location_filtered

# location_group = zika_df.groupby("location")
# location = pd.DataFrame(location_group)
# location_group = location_group.str.split("-", n = 1, expand = True) 




# 
# print(location.to_string())

C:\Users\joi.pratt\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47481 entries, 0 to 107617
Data columns (total 10 columns):
report_date         47481 non-null object
location            47481 non-null object
location_type       47481 non-null object
data_field          47481 non-null object
data_field_code     47481 non-null object
time_period         0 non-null float64
time_period_type    0 non-null float64
value               47469 non-null object
unit                47481 non-null object
country             47481 non-null object
dtypes: float64(2), object(8)
memory usage: 4.0+ MB

C:\Users\joi.pratt\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [16]:
#data_field_filtered["value"]=np.where(data_field_filtered["value"]=="NA",0,data_field_filtered["value"])
# data_field_filtered.loc[data_field_filtered["value"]!="NA"]
# data_field_filtered
data_field_filtered1= data_field_filtered[pd.notnull(data_field_filtered["value"])]
# data_field_filtered1.info() 

data_field_filtered1["value1"]= data_field_filtered1["value"].astype("int64")
data_field_filtered1
# calculated the null values
# data_field_filtered1.isnull().sum()

# data_field_filtered1["country"].value_counts()

country_df = data_field_filtered1.groupby('country')["value1"].sum().to_frame().reset_index()
# country_df1= pd.DataFrame(country_df.reset_index())
country_df.rename(columns={'value1':'confirmed_cases'},inplace=True)
country_df.country = country_df.country.str.replace('Dominican_Republic', 'Dominican Republic').str.replace('El_Salvador', 'El Salvador').str.replace('Puerto_Rico','Puerto Rico').str.replace('United_States_Virgin_Islands','U.S. Virgin Islands')
country_df

C:\Users\joi.pratt\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

                country  confirmed_cases
0             Argentina              665
1                Brazil            25763
2              Colombia           443745
3    Dominican Republic             2447
4               Ecuador             8175
5           El Salvador              472
6             Guatemala             1578
7                Mexico              565
8             Nicaragua             4704
9                Panama              762
10          Puerto Rico            44344
11  U.S. Virgin Islands             2000

In [17]:
country_df.to_json(orient='records')

'[{"country":"Argentina","confirmed_cases":665},{"country":"Brazil","confirmed_cases":25763},{"country":"Colombia","confirmed_cases":443745},{"country":"Dominican Republic","confirmed_cases":2447},{"country":"Ecuador","confirmed_cases":8175},{"country":"El Salvador","confirmed_cases":472},{"country":"Guatemala","confirmed_cases":1578},{"country":"Mexico","confirmed_cases":565},{"country":"Nicaragua","confirmed_cases":4704},{"country":"Panama","confirmed_cases":762},{"country":"Puerto Rico","confirmed_cases":44344},{"country":"U.S. Virgin Islands","confirmed_cases":2000}]'